.DS_Store
.ipynb_checkpoints/
outdated/BERT/gpt2-bert-reddit-bot/
outdate/BERT/bert_for_long_text/
outdated/gpu/
outdated/epfl_server/tmp/
weights/
interface/__pycache__/
weights/
generative_module/checkpoint/
generative_module/data/
backup_requirements.txt
