@media (max-width: 1200px) { 
    #colorsplash {
        height: 100px !important;
    }
}

@media (max-width: 991px) { 
    #decodiv { 
        display: none;
    }
}
@media (max-width: 768px) {}
@media (max-width: 576px) {
  #biography{
    margin-top: 5rem !important;
  }
  #randomize-button{
    top: 0 !important;
    float: right;
    margin: 10px 15px;
  }
  #randomize-div::after {
    content: "";
    clear: both;
    display: table;
  }
}

@media (max-width: 708px) {
    #colorsplash {
        display: none;
    }
}

/* FULL : #bd2130
GOOD: #ffc107
MINIMAL: #008a20
NONE: #17a2b8;
;
*/

  
#decoration {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    padding: 0 3%;
}

#colorsplash {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 400px;
    background-color: aliceblue;
}

#randomize-div{
  position: absolute;
  right: 0;
}

#randomize-button{
  position: relative !important;
  top: -3.75em;
}

div.form-group.row > div.form-group {
  padding-left: 15px;
}

div.radiochecks label {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}

form {
    margin: 7% 0 2% 0;
}
form::after {
    content: "";
    clear: both;
    display: table;
  }

.btn span.glyphicon {         
  opacity: 0.4;       
}
.btn.active span.glyphicon {        
  opacity: 1;       
}


input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type="text"].form-control-plaintext {
    border-bottom: none;
    width: 7em !important;
}